/* Apply Open Sans font to all elements */
body {
  font-family: "Open Sans", sans-serif;
}
/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

/* Set the default color of the links */
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* transform the links when hovering over them  */
/* large screen */
@media (min-width: 992px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    transform: scale(1.15);
  }
}
/*medium and small screens */
@media (max-width: 992px) {
  .navbar-dark .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
  }
}
